@import "../../styles/variables";

.vizSelector {
  display: inline-block;
  position: absolute;
    z-index: 102;
    bottom: 0;
    right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: $grey400;

  span {
    margin-right: 15px;
    cursor: pointer;
  }
}
